* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("mount.jpg");
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
}

button {
    font-family: inherit;
}

header {
    padding: 20px;
    z-index: 1;
}

#quote-container {
    display: flex;
    padding: 35px 0px 10px 35px;
    color: white;
    text-shadow: 2px 2px rgb(71, 38, 69);
    font-family: 'Macondo', cursive;
    font-size: 20px;
}

h1 {
    font-weight: bold;
}

h2 {
    color: rgb(65, 35, 62);
    text-align: right;
    padding-right: 20px;
}

.fa-quote-left,
.fa-quote-right {
    font-size: 20px;
}

.fa-quote-left {
    padding-right: 20px;
}

.fa-quote-right {
    padding-left: 20px;
}

#container-border {
    font-family: 'Dosis', sans-serif;
    border: solid white 1px;
    padding: 3px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 0.75rem rgba(2, 2, 2, 0.301));
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outcome-container {
    width: 400px;
    min-height: 135px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    box-shadow: inset 0px 0px 0.85rem rgb(19, 190, 153);
    font-size: 25px;
    letter-spacing: 2px;
    background-color: rgb(145, 255, 231);
    background-clip: padding-box;
    padding: 15px;
    border-top: 40px solid rgba(158, 194, 248, 0.5);
    border-left: 20px solid rgb(158, 194, 248, 0.5);
    border-right: 20px solid rgb(158, 194, 248, 0.5);
    border-bottom: 10px solid rgb(158, 194, 248, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#outcome {
    word-break: break-all;
}

#input-history {
    font-size: 15px;
    color: rgb(111, 143, 145);
}

#buttons-container {
    border-top: 20px solid rgba(158, 194, 248, 0.5);
    border-left: 20px solid rgb(158, 194, 248, 0.5);
    border-right: 20px solid rgb(158, 194, 248, 0.5);
    border-bottom: 30px solid rgb(158, 194, 248, 0.5);
    border-radius: 5px;
    width: 400px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
}

i {
    font-size: 40px;
}

.btn {
    width: calc(335px/4);
    border: none;
    font-size: 50px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

.green {
    flex-grow: 2;
    background-color: rgb(145, 255, 231, 0.55);
}

.green:hover {
    background-color: rgb(0, 255, 204, 0.25);
}

.pink {
    background-color: rgba(255, 170, 248, 0.55);
}

.pink:hover {
    background-color: rgba(255, 142, 246, 0.25);
}

#pos-neg {
    font-size: 35px;
}

#img-wrapper {
    position: absolute;
    background-position: center;
    z-index: 0;
    background-repeat: repeat;
    background-image: url("snow.png");
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
}

#footer {
    font-size: 15px;
    color: white;
    margin-top: auto;
    padding-bottom: 10px;
}